<template>
  <div id="home" class="home__wrapper" >
    <hero :imageUrl="imageUrl" :course="course"/>
    <div :class="{'main-content': true, 'form': formSwitch}">
      <card class="why-box" title="Why choose this course? :">
        <ul slot="content">
          <li>
            <icon name="calendar-o"/>
            <span>
              Practice oriented<br />
              curriculum
            </span>
          </li>
          <li>
            <icon name="certificate"/>
            <span>
              International<br/>
              degree
            </span>
          </li>
          <li>
            <icon name="black-tie"/>
            <span>
              Practice experienced</br>
              instructors
            </span>
          </li>
        </ul>
      </card>
      <card id="registrationForm" class="form-box" :title="generateTitle">
        <registrationForm :course="course" slot="content" />
      </card>
    </div>
  </div>
</template>

<script>
import Hero from '@/components/home/Hero.vue'
import RegistrationForm from '@/components/home/RegistrationForm.vue'
import Card from '@/components/visuals/Card.vue'

export default {
  name: 'home',
  props: {
    image: String,
    version: String,
    course: {
      type: String,
      default: 'Marketing'
    }
  },
  components: {
    Hero,
    RegistrationForm,
    Card
  },
  computed: {
    imageUrl: function () {
      switch (this.image) {
        case 'two':
          return require('@/assets/images/chemistry.jpeg')
        default:
          return require('@/assets/images/marketing.jpg')
      }
    },
    formSwitch: function () {
      return this.version === 'form'
    },
    generateTitle: function () {
      return `Registration for Msc. ${this.course}:`
    }
  }
}
</script>

<style lang="scss" src="@/assets/scss/containers/Home.scss"></style>
