<template>
  <div id="thank" class="thank__wrapper">
    <Card class="thank-card">
      <div slot="content" v-if="getQualification">
        <h2>
          Thank you for your registration.
        </h2>
        <article>
          <p>
            Thanks for your interest in our new course.
            But we are sorry to tell you that you are not qualified for this course.
          </p>
          <h3>Data:</h3>
          <ul>
            <li>
              <strong>Course:</strong> Msc. {{course}}
            </li>
            <li>
              <strong>Full Name:</strong> {{name}}
            </li>
            <li>
              <strong>Email:</strong> {{email}}
            </li>
            <li>
              <strong>Country:</strong> {{country}}
            </li>
            <li>
              <strong>Phone:</strong> {{phone}}
            </li>
            <li>
              <strong>Location:</strong> {{location}}
            </li>
          </ul>
        </article>
            <router-link to="/">
          Back to our courses >
        </router-link>
      </div>
      <div slot="content" v-else>
        <div class="icon">
          <icon name="check-circle" scale="3"></icon>
        </div>
        <h2 class="success">
          Thank you for your registration.
        </h2>
        <article>
          <p>
            Thanks for your interest in our new course.
            We will check all the data and send you further information.
          </p>
          <h3>Data:</h3>
          <ul>
            <li>
              <strong>Course:</strong> Msc. {{course}}
            </li>
            <li>
              <strong>Full Name:</strong> {{name}}
            </li>
            <li>
              <strong>Email:</strong> {{email}}
            </li>
            <li>
              <strong>Country:</strong> {{country}}
            </li>
            <li>
              <strong>Phone:</strong> {{phone}}
            </li>
            <li>
              <strong>Location:</strong> {{location}}
            </li>
          </ul>
        </article>
        <router-link to="/">
          Back to our courses >
        </router-link>
      </div>
    </Card>
  </div>
</template>

<script>
import Card from '@/components/visuals/Card.vue'
export default {
  name: 'thankPage',
  props: {
    course: String,
    name: String,
    email: String,
    country: String,
    phone: String,
    qualification: String,
    location: String
  },
  components: {
    Card
  },
  computed: {
    getQualification: function () {
      return this.qualification === 'none'
    }
  }
}
</script>

<style lang="scss" scoped src="@/assets/scss/containers/ThankPage.scss"></style>
