@import './shared/fonts.scss';
@import './shared/colors.scss';

body {
  font-size: $font-size;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: $base-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Baskerville', serif;
  color: $blue-lagon;
}

input {
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

[class$="__wrapper"] {
  min-height: 100vh;
}
