$blue-lagon: #004E66;
$saffron: #FCBE32;
$outrageous-orange: #FF5F2E;
$dark-pastel-green: #10CC31;
$aqua-haze: #F4F7F8;

$base-white: #FFFFFF;
$base-black: #000000;
$base-grey: #95989A;

$card-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$button-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
