@mixin bp($point) {
  @if $point == desktop {
    @media all and (min-width: 1025px) { @content; }
  }
  @else if $point == laptop {
    @media all and (max-width: 1024px) { @content; }
  }
  @else if $point == tablet {
    @media all and (max-width: 768px) { @content; }
  }
  @else if $point == phone {
    @media all and (max-width: 425px)  { @content; }
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name} {
      @content;
  }
  @-ms-keyframes #{$animation-name} {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }
  @keyframes #{$animation-name} {
      @content;
  }
}

@mixin animation($str) {
-webkit-animation: #{$str};
-moz-animation: #{$str};
-ms-animation: #{$str};
-o-animation: #{$str};
animation: #{$str};
}
