@import '../../shared/colors.scss';

.card {
  background-color: $base-white;
  border: 1px solid $base-grey;
  box-shadow: $card-shadow;
  padding: 16px;
  margin-bottom: 20px;
  h3 {
    margin: 0 0 10px 20px;
    color: $base-black;
  }
}
