@import '../../shared/colors.scss';
@import '../../shared/mixings.scss';
button {
  font-family: 'Open Sans', sans-serif;
  background: $blue-lagon;
  color: $base-white;
  outline: none;
  border: none;
  padding: 15px 80px;
  cursor: pointer;
  transition: all .5s linear;

  &:hover {
    box-shadow: $card-shadow;
    transition: box-shadow .5s linear;
  }

  &.loading {
    position: relative;
    border-radius: 100%;
    width: 50px;
    padding: 0;
    height: 50px;
    animation: .8s ease-out .5s infinite rotate-y;

    &:hover {
      box-shadow: none;
    }
  }
}


@include keyframes(rotate-y) {
  50% {
    transform: rotateY(90deg)
  }
  100% {
    transform: rotateY(180deg)
  }
}
