@import '../../shared/colors.scss';

footer {
  color: $base-white;
  background-color: $blue-lagon;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;

  .logo {
    margin-bottom: 5px;
  }

  ul {
    display: flex;
    margin: 5px 0;
    li {
      margin: 0 20px;
    }
  }

}
