@import '../../shared/colors.scss';

.logo {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: lighter;
  svg {
    height: 4rem;
  }

  &.nav {
    svg {
      path {
        stroke: $blue-lagon;
        &:not(#outline-solid-svg) {
          fill: $blue-lagon;
        }
      }
      text {
        &:not(#text-single-line-text-svg) {
          fill: $blue-lagon;
        }
      }
    }
  }
  &.footer {
    color: $base-white;
    flex-direction: column;
    font-size: 1rem;

    svg {
      path {
        stroke: $base-white;
        &:not(#outline-solid-svg) {
          fill: $base-white;
        }
      }
      text {
        fill: $blue-lagon;
        &:not(#text-single-line-text-svg) {
          fill: $base-white;
        }
      }
    }
  }
}
