@import '../../shared/mixings.scss';
@import '../../shared/colors.scss';

header {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: flex-end;

  h1 {
    margin: 0;
  }

  .menu {
    ul {
      display: flex;
      a {
        padding: 0 3vw;
        color: lighten($blue-lagon, 10%);
      }
    }
  }

  @include bp(tablet) {
    position: static;
    .menu {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }

  @include bp(phone) {
    position: static;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;

    .menu {
      padding: 10px 0;
      width: 100%;
      ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        a {
          padding: 0;
        }
      }
    }
  }
}

