<template>
  <div class="card">
    <h3 v-if="title">{{title}}</h3>
    <slot name="content"></slot>
  </div>
</template>

<script>
export default {
  name: 'card',
  props: ['title']
}
</script>

<style lang="scss" scoped src="@/assets/scss/components/visuals/Card.scss"></style>
