<template>
  <button :class="{'loading': loading}" :type="type" v-on:click="handleClick()">
    {{switchText}}
  </button>
</template>

<script>
export default {
  name: 'customButton',
  props: {
    type: String,
    onClicked: {
      type: Function,
      required: false
    },
    text: String,
    loading: {
      type: Boolean,
      required: false
    }
  },
  computed: {
    switchText: function () {
      if (this.loading) {
        return ''
      }
      return this.text
    }
  },
  methods: {
    handleClick: function () {
      this.$emit('onClicked')
    }
  }
}
</script>

<style lang="scss" scoped src="@/assets/scss/components/visuals/customButton.scss"></style>
