<template>
  <footer>
    <Logo location='footer' />
    <ul>
      <li><a href="">Contact</a></li>
      <li><a href="">Site Notice</a></li>
      <li><a href="">About</a></li>
    </ul>
    <ul>
      <li><a href=""><icon name="twitter" /></a></li>
      <li><a href=""><icon name="facebook-official" /></a></a></li>
      <li><a href=""><icon name="youtube" /></a></li>
    </ul>
  </footer>
</template>

<script>
import Logo from '@/components/visuals/Logo.vue'

export default {
  name: 'footer-bar',
  components: {
    Logo
  }
}
</script>

<style lang="scss" scoped src='@/assets/scss/components/visuals/Footer.scss'></style>
