<template>
  <span class="logo" :class="location">
    <svg xmlns="http://www.w3.org/2000/svg" id="logo-graphic" viewBox="0 0 900 750">
      <g id="base">
        <path id="outline-shield-svg" d="M449.97 614.165l-1.33-.33c-2.36-.59-58.506-15.236-124.2-86.153-34.584-37.338-50.224-79.728-57.253-108.715-7.464-30.776-7.096-52.903-7.053-54.69V145.15l5.032-.43c1.022-.087 103.1-8.73 184.834-8.73 81.733 0 183.812 8.644 184.833 8.73l5.03.43v219.128c.044 1.777.406 23.906-7.066 54.69-7.034 28.985-22.675 71.374-57.243 108.71-65.677 70.938-121.893 85.567-124.253 86.155l-1.33.332zM271.135 155.27v209.238c-.025.864-1.636 87.67 61.377 155.697 57.98 62.59 108.677 79.933 117.457 82.575 8.78-2.664 59.73-20.168 117.51-82.573 62.98-68.03 61.41-154.837 61.38-155.706l-.01-.15V155.27c-21.53-1.728-107.96-8.28-178.87-8.28-70.91 0-157.34 6.552-178.87 8.28z"/>
      </g>
      <g id="swag">
        <path id="outline-solid-svg" fill="none" stroke="#000" stroke-width="3" d="M622.882 365.007v-203s-95.572-8.17-172.88-8.17c-77.31 0-172.884 8.17-172.884 8.17v203s-2.395 83.45 58.928 149.652c61.265 66.14 113.928 79.28 113.928 79.28s52.726-13.13 113.976-79.29C625.243 448.45 622.882 365 622.882 365z"/>
        <path id="horizontal-line-solid-svg" fill="none" stroke="#000" stroke-width="4" stroke-miterlimit="10" d="M320.533 288.744h257.735M360.875 508.02h178.25"/>
        <path id="large-icon-buck-svg" d="M415.796 300.854c-1.926 2.6-5.432 3.623-7.992 5.798-2.333 1.98-4.995 4.466-4.592 8.594 1.524-.988 3.54-2.267 5.992-3.6 1.097-.6 5.592-3.53 6.39-.603.578 2.107-1.914 3.122-2.996 3.8-1.496.934-3.08 1.81-3.996 2.792-4.565 4.938-4.57 18.198 2.4 20.573.805-.93.442-3.02 1-4.198 3.572-.48 2.834 2.673 3.192 4.793.772 4.563 5.232 7.84 8.59 10.592 3.005 2.457 6.06 4.9 9.388 6.395.628-1.37 1.045-2.945 1.797-4.198 2.14.546 2.16 2.827 2.99 4.795 1.41 3.316 4.41 6.805 6.99 10.382 1.1 1.53 2.33 3.1 3.79 4.99.94 1.21 2.7 4.47 3.99 4.59 1.62.15 3.35-2.56 4.2-3.6 2.58-3.16 4.22-6.05 4.79-10.79.26-2.21.15-4.57 1.6-6 2.98.22 2.58 3.82 2.59 6.99.94-.18 2.22-1 3.39-1.8 1.06-.72 2.17-1.58 3.19-2.4 3.81-3.05 9.88-7.04 8.59-14.58-.34-1.98-3.06-5.9-.8-7.2 2.19-1.25 4.34 1.92 4.79 2.8 1.13 2.22 1.38 3.713 1.99 5.79 5.8-3.84 6.87-17.24 1.2-22.17-.86-.75-2.36-1.44-4-2-1.216-.41-3.926-.785-4.198-1.79-.63-2.355 3.143-3.48 5.396-3.2 3.486.45 5.247 3.7 8.59 3.995.5-3.91-2.08-6.32-4.19-8.39-1.106-1.07-2.206-2.143-3.4-2.99-1.16-.83-3.1-1.194-3.19-2.79-.055-1.274 2.67-1.293 3.392-1.203 1.64.192 3.87 1.602 5.4 2.593 4.67 3.06 8.08 7.868 9.99 13.78 2.903 8.97-.517 18.07-4.994 24.17-4.42 6.046-10.815 10.387-16.575 15.19-5.98 4.98-10.7 10.86-15.18 16.376 4.15-1.39 8.3-4.6 13.18-5.79 2.17-.526 7.275-.735 7.99 1.595.476 1.57-2.51 5.384-3.396 6.8-1.44 2.302-2.487 4.66-4.397 6.19-3.14 2.51-8.16 2.4-11.98 4 .81 2.11 2.52 3.73 3.79 5.59 3.7 5.42 6.62 11.775 8.79 18.97 2.79 9.266 5.55 20 4.99 31.756-.3 6.276-.7 11.737-2 16.59-2.554 9.488-7.98 16.13-13.583 23.567-1.15 1.523-2.56 3.3-4.2 5.2-1.463 1.682-3.47 3.89-5.193 3.99-3.446.18-6.342-4.915-8.39-6.797-2.884-2.66-5.984-4.69-8.79-7.39-6.522-6.28-13.08-13.44-16.98-23.17-1.004-2.51-2.265-4.71-1.995-7.783.33-3.78 2.772-7.21 4.794-8.99 2.643-2.33 6.38-2.928 7.99-6.797.504-1.21.5-2.57.8-3.79.9-3.66 1.71-6.58 2.4-11.387-4.567-.18-9.025 2.63-13.58.79-1.378-.548-3.36-2.06-5.2-3.39-2.1-1.53-4.07-2.62-5.19-4.2-.71-1.01-1.73-3.23-1.6-4.59.25-2.37 3.64-3.99 6-5 5.79-2.46 8.3-4.56 11.984-9.18.61-.77 1.21-1.69 2.2-3 .36-.48 2.21-2.637 2.2-2.79-.04-.57-4.92-3.54-5.593-4-4.355-2.99-7.24-4.527-10.785-8.4-1.63-1.77-4.75-5.73-2.393-8.18 2.19-2.284 8.135.96 10.785 1.59 1.51.36 3.04.42 4.197.8 3.004 1 5.445 3.42 7.99 4.6-.04.167.08.185.2.19.16.05.2.207.4.207-2.18-5.16-5.25-9.8-9.39-13.58-3.903-3.58-8.26-7.02-12.58-10.39-4.63-3.63-8.92-6.018-12.98-10-3.738-3.66-8-8.17-8.79-14.18-1.14-8.71 3.47-19.076 7.99-23.366 2.204-2.1 6.78-4.53 10.79-2.605z"/>
        <g id="ribbon-wrapped-arch-svg">
          <path d="M223.065 182.196l19.36 113.082c68.056-14.084 137.2-21.224 205.55-21.224 70.494 0 140.855 7.596 209.17 22.578l.193-1.095c6.544-37.285 13.09-74.57 19.64-111.854-75.314-17.476-152.645-26.338-229.858-26.338-75 0-150.37 8.36-224.055 24.85z"/>
          <path d="M771.13 268.877c-33.457-10.37-67.298-19.208-101.405-26.533-3.143 17.904-6.288 35.81-9.43 53.713l-.735 4.18-1.53-.337c-6.758-1.494-13.542-2.894-20.34-4.242v8.76c.018.642.085 4.243-.324 10.112 36.62 7.353 72.938 16.578 108.78 27.688-8.213-16.06-16.955-32.045-26.228-47.92 16.646-8.845 33.72-17.327 51.213-25.42zm-508.773 35.54v-9.987c-6.957 1.3-13.906 2.655-20.842 4.102l-1.522.317-9.692-56.62c-34.27 7.34-68.28 16.22-101.9 26.64 17.49 8.09 34.56 16.57 51.21 25.42-9.27 15.87-18.01 31.86-26.23 47.92 36.02-11.16 72.5-20.42 109.3-27.79-.4-5.81-.33-9.37-.31-10.01z"/>
        </g>
      </g>
      <g id="text" text-anchor="middle" font-family="'chunk-five'">
        <g id="text-single-line-svg" fill="#FFF" font-size="80">
          <text id="text-single-line-text-svg" transform="translate(450 245)">
            Scotch
          </text>
        </g>
        <g id="text-large-x-svg" font-size="60">
          <text id="text-large-x-right-svg" x="70" transform="translate(450 420)">
            X
          </text>
          <text id="text-large-x-left-svg" x="-70" transform="translate(450 420)">
            X
          </text>
        </g>
        <g id="text-established-svg" font-size="24">
          <text id="text-established-text-svg" transform="translate(450 543)">
            est. 1810
          </text>
        </g>
      </g>
    </svg>
    <div v-if="location === 'nav'">
      Scotch<br/>
      College
    </div>
    <div v-if="location === 'footer'">
      © Scotch College - {{ getYear }}
    </div>
  </span>
</template>


<script>
  export default {
    name: 'logo',
    props: ['location'],
    computed: {
      getYear: function () {
        return new Date().getFullYear()
      }
    }
  }
</script>

<style lang="scss" scoped src="@/assets/scss/components/visuals/Logo.scss"></style>
