<template>
  <header>
    <h1>
      <a href="/">
        <logo location="nav"/>
      </a>
    </h1>
    <nav class="menu">
      <ul>
        <li>
          <a href="">Courses</a>
        </li>
        <li>
          <a href="">Resources</a>
        </li>
        <li>
          <a href="">Support</a>
        </li>
        <li>
          <a href="">About</a>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
  import Logo from './Logo.vue'

  export default {
    name: 'navBar',
    components: {
      Logo
    }
  }
</script>

<style lang="scss" scoped src="@/assets/scss/components/visuals/NavBar.scss"></style>
