@import "../../shared/colors.scss";
@import "../../shared/mixings.scss";

.hero {
  width: 100vw;
  position: relative;
  box-sizing: border-box;

  .bg-image {
    display: none;
  }

  svg {
    bottom: 0;
    width: 100%;
    height: 100%;
    .a{
      fill:rgba($outrageous-orange, 0.56);
    }
    .b{
      fill:rgba($saffron, 0.49);
    }
    .c{
      fill:url(#a);
      filter: url(#f1);
    }
  }
  .title {
    position: absolute;
    top: 30%;
    left: 2%;
    h2 {
      font-size: 3.8vw;
      border-bottom: 3px solid $blue-lagon;
      width: 150%;
      margin-bottom: 10px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $blue-lagon;
        border-radius: 100%;
        right: -5px;
        bottom: -5px;
      }
    }

    p {
      white-space: pre-wrap;
      margin: 0;
      font-size: 2vw;
      color: $blue-lagon;
    }

    button {
      position: relative;
      left: 100%;
      transform: translateX(-50%);
    }
  }
  @include bp(phone) {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    .bg-image {
      display: block;
      filter: blur(3px);
      background-position: center !important;
      background-size: cover !important;
      background-color: $outrageous-orange !important;
      background-blend-mode: multiply;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
    svg {
      display: none;
    }
    .title {
      position: static;
      width: 100%;
      text-align: center;
      h2 {
        width: auto;
        font-size: 2rem;
        color: $aqua-haze;
        border-color: $aqua-haze;
        &:after {
          display: none;
        }
      }

      p {
        font-size: 1rem;
        color: $aqua-haze;
      }
      button {
        position: static;
        transform: none;
        background-color: $aqua-haze;
        color: $blue-lagon;
      }
    }
  }
}
