@import '../../shared/colors.scss';

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    margin-bottom: 40px;
    max-width: 400px;
    width: 100%;
    &.phone {
        p {
          span {
            display: flex;
          }
        }
    }

    &.filled {
      p {
        label {
          transform: scale(.7) translate(-15px, -30px);
        }
      }
    }

    &.is-danger {
      p {
        border-color: $outrageous-orange;
      }
    }

    .help {
      font-size: .7rem;
      position: absolute;
      &.is-danger{
        color: $outrageous-orange;
      }
    }

    p {
      margin: 0;
      border: 1px solid $base-black;
      position: relative;
      height: 30px;
      padding: 20px 20px 10px 20px;
      label {
        position: absolute;
        color: $base-grey;
        bottom: 15px;
        transition: transform .8s linear;
        pointer-events: none;
      }
      .input {
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;

        &:focus {
          outline: none;
          ~ label {
            transform: scale(.7) translate(-15px, -30px);
          }
        }
      }
    }
  }
}
