<template>
  <div class="hero">
    <div class="bg-image" :style="{'background': `url(${imageUrl})`}"></div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 2700 1900 1230" preserveAspectRatio="none">
      <defs>
        <pattern id="a" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 5472 3648">
          <image width="5472" height="3648" :xlink:href="imageUrl"/>
        </pattern>
      </defs>
      <path d="M-16.27 3751.055l927.2-827.192 344.01 574.08-1271.177 424.19z" class="a"/>
      <path d="M-17.287 3808.894L559.28 2682.7l237.28-.004 264.825 197.88S-15.918 3922.596-17.285 3923.606s-.002-114.712-.002-114.712z" class="b"/>
      <path d="M722.905 3764.5c-57.587-141.21-89.816-299.215-89.816-466 0-227.444 59.92-438.538 162.368-613H1912v1079z" class="c"/>
    </svg>
    <div class="title">
      <h2>
        Msc. {{course}}
      </h2>
      <p>Bring your {{course}} career
on the next level.
Apply now to our new course.
      </p>
      <customButton type="button" text="Apply Now" v-scroll-to="{
        el: '#registrationForm',
        offset: -200,
        x: true,
        y: false
      }"/>
    </div>
  </div>
</template>

<script>
import customButton from '@/components/visuals/customButton.vue'
export default {
  name: 'hero',
  components: {
    customButton
  },
  props: {
    imageUrl: String,
    course: String
  }
}
</script>

<style lang="scss" scoped src="@/assets/scss/components/home/Hero.scss"></style>

