<template>
  <form class="registration-form" v-on:submit.prevent="handleSubmit" novalidate>
    <div :class="{'is-danger': errors.has('name'), 'filled': name.trim().length > 0 }">
      <p>
        <input :disabled="loading" v-model="name" name="name" v-validate="'required|alpha_spaces'" :class="{'input': true}" type="text">
        <label for="name">Full Name</label>
      </p>
      <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
    </div>
    <div :class="{'is-danger': errors.has('email'), 'filled': email.trim().length > 0 }">
      <p>
        <input :disabled="loading" v-model="email" v-validate="'required|email'" :class="{'input': true}" name="email" type="email">
        <label for="email">Email</label>
      </p>
      <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
    </div>
    <div :class="{'is-danger': errors.has('country'), 'filled': country.length > 0}">
      <p>
        <select :disabled="loading" v-model="country" name="country" v-validate="'required'" :class="{'input': true }">
          <option disabled selected value></option>
          <option v-for="(item, index) in countrys" :key="item-index" :value="item">
            {{item}}
          </option>
        </select>
        <label for="country">Country of residence</label>
      </p>
      <span v-show="errors.has('country')" class="help is-danger">{{ errors.first('country') }}</span>
    </div>
    <div :class="{'phone': true, 'is-danger': errors.has('phone'), 'filled': (phone.length > 0 || prefixCode.length > 0)}">
      <p>
        <span>
          <span>
            <img :src="prefixImage" :alt="country" width="30px" height="20px">{{ prefixCode }}
          </span>
          <input :disabled="loading" v-model="phone" name="phone" v-validate="'required|numeric'" :class="{'input': true, 'phone': true}" type="tel">
        </span>
        <label for="phone">Telephone</label>
      </p>
      <span v-show="errors.has('phone')" class="help is-danger">{{ errors.first('phone') }}</span>
    </div>
    <div :class="{'is-danger': errors.has('qualification'), 'filled': qualification.length > 0}">
      <p>
        <select :disabled="loading" v-model="qualification" name="qualification" v-validate="'required'" :class="{'input': true}">
          <option disabled selected value></option>
          <option v-for="(item, index) in qualifications" :key="item.value-index" :value="item.value">
            {{item.title}}
          </option>
        </select>
        <label for="qualification">Your highest qualification</label>
      </p>
      <span v-show="errors.has('qualification')" class="help is-danger">{{ errors.first('qualification') }}</span>
    </div>
    <div :class="{'is-danger': errors.has('location'), 'filled': location.length > 0}" v-if="inEU">
      <p>
        <select :disabled="loading" v-model="location" name="location" v-validate="'required'" :class="{'input': true}">
          <option disabled selected value></option>
          <option v-for="(item, index) in locations" :key="item.value-index" :value="item.value">
            {{item.title}}
          </option>
        </select>
        <label for="location">Course location</label>
      </p>
      <span v-show="errors.has('location')" class="help is-danger">{{ errors.first('location') }}</span>
    </div>
    <customButton :loading="loading" type="submit" text="Send"/>
  </form>
</template>

<script>
import customButton from '@/components/visuals/customButton.vue'
import Countrys from '@/assets/data/countries'

export default {
  name: 'registrationForm',
  validator: null,
  props: ['course'],
  components: {
    customButton
  },
  data: () => ({
    name: '',
    email: '',
    country: '',
    phone: '',
    prefixImage: '',
    prefixCode: '',
    qualification: '',
    location: '',
    inEU: true,
    loading: false
  }),
  computed: {
    countrys: () => {
      return Countrys.map((country) => country.name.common).sort()
    },
    qualifications: () => {
      return [
        {
          value: 'bachelor',
          title: 'Bachelor’s Degree'
        },
        {
          value: 'master',
          title: 'Master’s Degree'
        },
        {
          value: 'none',
          title: 'None of the above'
        }
      ]
    },
    locations: () => {
      return [
        {
          value: 'berlin',
          title: 'Humboldt University of Berlin'
        },
        {
          value: 'glasgow',
          title: 'University of Glasgow'
        },
        {
          value: 'oxford',
          title: 'University of Oxford'
        },
        {
          value: 'paris',
          title: 'PSB Paris School of Business'
        },
        {
          value: 'prague',
          title: 'Charles University in Prague'
        }
      ]
    }
  },
  methods: {
    handleSubmit: function (event) {
      this.loading = false
      this.$validator.validateAll().then((result) => {
        if (result) {
          const self = this
          self.loading = true
          setTimeout(function () {
            self.$router.push({ name: 'Thanks',
              query: {
                course: self.course,
                name: self.name,
                email: self.email,
                country: self.country,
                phone: self.prefixCode + self.phone,
                qualification: self.qualification,
                location: self.inEU ? self.location : 'Online'
              }
            })
          }, 1000)
          return
        }
      })
    }
  },
  watch: {
    country: function (val, oldVal) {
      this.inEU = true
      if (val !== oldVal) {
        if (!val) {
          this.prefixImage = ''
          this.prefix = ''
        } else {
          const countrys = Countrys
          this.prefixImage = require('@/assets/data/countries/data/' + countrys.find((country) => country.name.common === val).cca3.toLowerCase() + '.svg')
          this.prefixCode = '+' + countrys.find((country) => country.name.common === val).callingCode[0]
          this.inEU = countrys.find((country) => country.name.common === val).region === 'Europe'
        }
      }
    }
  }
}
</script>

<style lang="scss" src="@/assets/scss/components/home/RegistrationForm.scss"></style>
