@import '../shared/colors.scss';
@import '../shared/mixings.scss';

[class^='home'] {
  .main-content {
    display: grid;
    grid-template-columns: 20% 1fr 20%;

    &.form {
      grid-template-columns: 10% 25% 1fr 10%;
      grid-column-gap: 30px;
      .why-box {
        height: 480px;
        ul {
          flex-direction: column;
          li {
            margin-bottom: 20px;
          }
        }
      }
      .form-box {
        grid-column: 3 / span 1
      }
    }

    > * {
      grid-column: 2 / span 1
    }

    .fa-icon {
      color: $base-black;
    }

    .card {
      animation: .8s ease-out 1s 1 slide-up-main;
      animation-fill-mode: forwards;
    }

    .why-box {
      ul {
        display: flex;
        justify-content: space-around;

        li {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;

          .fa-icon {
            width: auto;
            height: 4rem;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  @include bp(phone) {
    .main-content {
      grid-template-columns: 10px 1fr 10px;
      margin-top: 20px;

      &.form {
        grid-template-columns: 10px 1fr 10px;

        .form-box {
          grid-column: 2 / span 1
        }
      }

      .card {
        animation: none;
      }

      .why-box {
        font-size: .9rem;
      }
    }
  }
}

@include keyframes(slide-up-main) {
  from { transform: translateY(0); }
  to { transform: translateY(-12vw); }
}

