@import "../shared/mixings.scss";
@import "../shared/colors.scss";

[class^="thank"] {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 10vh 1fr 30vh;

  .thank-card {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    .icon {
      display: flex;
      justify-content: center;
      color: $dark-pastel-green;
    }
    h2 {
      text-align: center;

      &.success {
        color: $dark-pastel-green;
      }
    }
    article {
      margin-bottom: 20px;
      padding: 0 20px;

      h3 {
        margin-left: 10px;
      }
      p{
        text-align: center;
      }
      ul {
        margin-left: 10px;
        strong {
          color: $base-black;
        }
      }
    }
    a {
      color: $blue-lagon;
      float: right;
      margin-right: 20px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  @include bp(phone) {
    grid-template-columns: 10px 1fr 10px;
  }
}
