<template>
  <div id="app">
    <nav-bar />
    <router-view></router-view>
    <footer-bar />
  </div>
</template>

<script>
import NavBar from './components/visuals/NavBar.vue'
import FooterBar from './components/visuals/FooterBar.vue'
export default {
  name: 'app',
  components: {
    NavBar,
    FooterBar
  }
}
</script>
